#include <windows.h>

// Identyfikator ikony
#define IDI_APP_ICON 101

// Ikona aplikacji
IDI_APP_ICON ICON "resources/icon.ico"

// Manifest aplikacji
1 RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "ProductName",      "CH552G Keyboard Configurator"
            VALUE "FileDescription",  "CH552G Keyboard Configurator"
            VALUE "FileVersion",      "1.0.0"
            VALUE "ProductVersion",   "1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END